# Maven build files
target/


# Logs
*.log
*.txt

# IDE (Eclipse, IntelliJ)
.idea/
*.iml
.project
.classpath
.settings/

# ChromeDriver (no debe subirse)
chromedriver.exe
chromedriver
chromedriver-linux
chromedriver-mac
chromedriver-win64/

# Sistema operativo
.DS_Store
Thumbs.db
